:root {
    --primeira-cor: #fdfdfc;
    --segunda-cor: #2791d8;
    --terceira-cor: #3fa2c9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-color: var(--primeira-cor);
    font: bold 2rem 'Open Sans', sans-serif;
}

.menu {
    width: 100%;
    position: relative;
    display: inline-block;
}

.abrefiltro-button {
    width: 100%;
    background-color: var(--terceira-cor);
    color: var(--primeira-cor);
    padding: 16px;
    font-size: 26px;
    border: none;
    cursor: pointer;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.abrefiltro-button:hover,
.abrefiltro-button:focus {
    background-color: var(--primeira-cor);
    color: var(--segunda-cor);
}