/* body, html e variaveis */
:root {
    --primeira-cor: #fdfdfc;
    --segunda-cor: #2791d8;
    --terceira-cor: #3fa2c9;
    --quarta-cor: #353636;
    --quinta-cor: #fff59d;
    --sexta-cor: #4a4b4d;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: sans-serif;
}

body {
    background-color: var(--primeira-cor);
    font: bold 2rem 'Open Sans', sans-serif;
}

/* botão, header e menu */

.modo-escuro-button{
    width: 100%;
    position: relative;
    display: inline-block;
    background-color: var(--sexta-cor);
    color: var(--primeira-cor);
    height: 50px;
    font-size: 18px;
    font-weight:580;
    border: none;
    cursor: pointer;
    box-shadow: 0px 8px 8px 0px var(--quarta-cor);
}

.modo-escuro-button:hover,
.modo-escuro-button:focus {
    background-color: var(--sexta-cor);
    color: var(--primeira-cor);
}



.menu {
    width: 100%;
    position: relative;
    display: inline-block;
}

.abrefiltro-button {
    width: 100%;
    background-color: var(--terceira-cor);
    color: var(--primeira-cor);
    padding: 16px;
    font-size: 30px;
    font-weight:580;
    border: none;
    cursor: pointer;
    box-shadow: 0px 8px 16px 0px var(--quarta-cor);
}

.abrefiltro-button:hover,
.abrefiltro-button:focus {
    background-color: var(--primeira-cor);
    color: var(--segunda-cor);
}

.blacking {
    color:black;
}

.menu-filtro {
    display: none;
    position: relative;
    background-color: var(--segunda-cor);
    width: 100%;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px var(--quarta-cor);
    text-align: center;
}

.menu-filtro a {
    align-content: center;
    display: inline-block;
    position: relative;
    color: var(--primeira-cor);
    padding: 12px 16px;
    text-decoration: none;
    cursor: pointer;
}

.menu-filtro a:hover {
    background-color: var(--primeira-cor);
    color: var(--segunda-cor);
}

.mostrar {
    display: block;
    position: fixed;
}

.esconder {
    display: inline-block;
    position: fixed;
}

.header_lista_compras {
    display: flex;
    background-color: var(--segunda-cor);
    width: 100%;
    height: 50px;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 5px var(--segunda-cor);
    font-size: 3rem;
    color: var(--primeira-cor);
}

/* div principal, lista de compras, lista compras e inserções */
.lista {
    display: flex;
    width: 50vw;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    gap: 15px;
}

.lista_titulo {
    display: flex;
    background-color: var(--segunda-cor);
    width: 100%;
    height: 80px;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    box-shadow: 1px 1px 5px var(--segunda-cor);
    font-size: 3rem;
    color: var(--primeira-cor);
}

.lista_compras {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 10px;
}

/* inserção de novo item */

.input_novo_item {
    display: flex;
    background-color: var(--quinta-cor);
    width: 100%;
    height: 70px;
    justify-content: space-evenly;
    padding: 10px 0;
    box-shadow: 1px 1px 5px var(--segunda-cor);
    margin: 10px;
    font: inherit;
}

.input_novo_item>input {
    background-color: var(--quinta-cor);
    color:var(--quarta-cor);
    border: none;
    width: 80%;
    outline: none;
    font: inherit;
}

.input_novo_item>input::placeholder {
    font-style: italic;
    font-weight: normal;
}

.btn_inserir {
    display: flex;
    background-color: var(--segunda-cor);
    height: 48px;
    width: 100px;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 8px var(--segunda-cor);
    font-size: 2rem;
    color: var(--primeira-cor);
}

.btn_inserir:hover,
.btn_inserir:focus {
    cursor: pointer;
}

/* novo item */

.item { 
    color: var(--segunda-cor);
    display: flex;
    width: 100%;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    box-shadow: 1px 1px 5px var(--segunda-cor);
}

.item>div {
    width: 80%;
}

.lista_item:hover {
    cursor: pointer;
    transition: all .5s ease;
    background-color: var(--segunda-cor);
    color: var(--primeira-cor);
}

.item>input[type='text'] {
    border: none;
    width: 80%;
    font: inherit;
}

.item>input[type='button'],
.item>input[type='checkbox'] {
    width: 30px;
    height: 30px;
    font: inherit;
}


.item>input[type='checkbox']:checked+div {
    text-decoration: line-through;
}

/* total e contador */

.total {
    display: flex;
    background-color: var(--segunda-cor);
    width: 100%;
    height: 60px;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 5px var(--segunda-cor);
    font-size: 3rem;
    color: var(--primeira-cor);
}